		<div class="row">
		    <div class="col-md-12">
		      <div class="jumbotron">
		        <h2>
		          Hello, Learners!
		        </h2>
		        <p>
		          Please talk to your TA. 
		          Check availability of TA and schedule the time.
		        </p>
		        <p>
		          <a class="btn btn-primary btn-large" href="#">Learn more</a>
		        </p>
		      </div>
		    </div>
		  </div>

<ul>
  <% @calendar_list.items.each do |calendar| %>


		<div class="container-fluid">
		  <div class="row">
		    <div class="col-md-4">
		      <div class="rounded-circle" id="panel-351533">
		        <div class="panel panel-default">
		          <div class="panel-heading">
		             <a class="img-circular1" data-toggle="collapse" data-parent="panel-351533" href="#panel-element-200388" <br></a>
		          </div>
		          <div id="panel-element-200388" class="panel-collapse collapse in">
		            <div class="panel-body">
    							<li><%= link_to "#{calendar.summary}", events_path(calendar.id) %></li>
		            </div>
		          </div>
		        </div>
		        <div class="panel panel-default">
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
  <% end %>
</ul>