<div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2>
          Hello, Learners!
        </h2>
        <p>
          Please talk to your TA. 
          Check availability of TA and schedule the time.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="#">Learn more</a>
        </p>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="rounded-circle" id="panel-351533">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="img-circular1" data-toggle="collapse" data-parent="#panel-351533" href="#panel-element-200388" <br>Mercy</a>
          </div>
          <div id="panel-element-200388" class="panel-collapse collapse in">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          
          <div id="panel-element-382519" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-group" id="panel-361594">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="img-circular2" data-toggle="collapse" data-parent="#panel-361594" href="#panel-element-654095">Terminator</a>
          </div>
          <div id="panel-element-654095" class="panel-collapse collapse in">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          
          <div id="panel-element-690300" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel-group" id="panel-139742">
        <div class="panel panel-default">
          <div class="panel-heading">
             <a class="img-circular3" data-toggle="collapse" data-parent="#panel-139742" href="#panel-element-500955">Jo Jo</a>
          </div>
          <div id="panel-element-500955" class="panel-collapse collapse in">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          
          <div id="panel-element-6672" class="panel-collapse collapse">
            <div class="panel-body">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>